
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Menu de Opções";
}
<link href="~/css/gti.css" rel="stylesheet" />
<br />
<h2>Serviços disponíveis</h2>
<br />
<div id="content" style="width: auto">
    <ul>
        <li>@Html.ActionLink("Dados cadastrais de uma empresa", "Details", "Mob")</li>
        <li>@Html.ActionLink("Dados cadastrais de uma empresa", "Details", "Mob")</li>
        <li>@Html.ActionLink("Dados cadastrais de uma empresa", "Details", "Mob")</li>
        <li>@Html.ActionLink("Dados cadastrais de uma empresa", "Details", "Mob")</li>
    </ul>
</div>



