
@{
    ViewBag.Title = "Index";
}

<style>
   
    body, input, div {
    font-size: 10pt;
    font-family: Arial,Verdana, sans-serif, Helvetica;
    color: #333333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    li {
    font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

    li:last-child {
        border: none;
    }

    li a {
        text-decoration: none;
        color: #000;
        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
        display: block;
        width: auto;
    }

        li a:hover {
            font-size: 18px;
            background: #f6f6f6;
        }
</style>


<body>
    <h3 style="color:darkmagenta">Serviços disponíveis</h3>
    <br />
    <br />
    <div id="content" style="width: 80%">
        <ul>
            <li><a href="@Url.Action("MobDetail", "Mob")">Dados cadastrais de uma empresa</a></li>
            <li><a href="@Url.Action("Load" , "LockedOrder")">Locked Order</a></li>
        </ul>
    </div>
</body>


