@model GTI_WebCore.ViewModels.EmpresaDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dados Cadastrais de uma empresa";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Dados Cadastrais de uma Empresa</h3>


</body>
</html>
