<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <title>@ViewBag.Title</title>



</head>
<body>


    <div class='container2'>
        <div>
            <img src="~/images/brasaocor.png" class='iconDetails'>
        </div>
        <div style='margin-left:60px;'>
            <h4>&nbsp;</h4>
            <h4 style=" font-family: 'Times New Roman', 'Arial', 'Helvetica', 'sans-serif';font-size: 25px;font-weight: bold;">&nbsp;&nbsp; PREFEITURA MUNICIPAL DE JABOTICABAL</h4>

        </div>
    </div>


    <div style="margin: 30px; width: auto">
        @RenderBody()
    </div>

    <br />
    <div style=" margin-left:30px; font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;">&copy;2019 - Gestão Tributária Integrada (G.T.I.)</div>
</body>
</html>