
@{
    ViewBag.Title = "Detalhes de uma empresa";
}

<h3>Dados cadastrais de uma empresa</h3>
<br />
<br />



<div >
    <form action="" method="post">
        <table>
            <tr>
                <td>
                    <label style="font-weight:normal">Inscrição Municipal:</label>
                </td>
                <td>
                    <input type="text" name="codigo" />
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:normal">Razão Social:</label>
                </td>
                <td>
                    <input type="text" name="razao_social" />
                </td>
            </tr>
        </table>
        
        <br />
        <input type="submit" value="Consultar" />
    </form>
</div>

